name: Static Analysis & Test

on: [push, pull_request]

jobs:

  static-analysis:
    # We want to run on external PRs, but not on our own internal PRs as they'll
    # be run by the push to the branch. Without this if check, checks are
    # duplicated since internal PRs match both the push and pull_request events.
    # https://github.com/psf/black/blob/f51e53726b39a177355a7917c91c56f390dda7ef/.github/workflows/lint.yml#L7-L12
    if:
      github.event_name == 'push' ||
      github.event.pull_request.head.repo.full_name != github.repository

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox coverage[toml]

      - name: Lint with flake8
        run: tox -e flake8

      - name: Format with black
        run: tox -e black

      - name: Check Qt Enums
        run: tox -e qt-enum


  test:
    # We want to run on external PRs, but not on our own internal PRs as they'll
    # be run by the push to the branch. Without this if check, checks are
    # duplicated since internal PRs match both the push and pull_request events.
    if:
      github.event_name == 'push' ||
      github.event.pull_request.head.repo.full_name != github.repository

    strategy:
      matrix:
        os: ['ubuntu-22.04', 'windows-latest']
        test_env: [
          'py39-PyQt5',
          'py39-PySide5',
          'py310-PyQt5',
          'py310-PySide5',
          'py311-PyQt5',
          'py311-PyQt6.7',
          'py311-PyQt6.9',
          'py311-PySide6.7',
          'py311-PySide6.9',
        ]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Pulled from https://github.com/mottosso/Qt.py/blob/master/.github/actions/setup-tox/action.yml
      - name: Install EGL mesa
        if: runner.os == 'Linux'
        shell: bash
        run: |
          sudo apt-get update -y -qq
          sudo apt-get install -y -qq libegl1-mesa libegl1-mesa-dev libgl1-mesa-glx libgl1-mesa-dev

      - name: Install GUI libs
        if: runner.os == 'Linux'
        shell: bash
        run: |
          sudo apt-get install -y -qq libxcb-xinerama0
          sudo apt-get install -y -qq libxkbcommon-x11-0 libxcb-icccm4 libxcb-image0 libxcb-keysyms1 libxcb-randr0 libxcb-render-util0 libxcb-xfixes0 libxcb-cursor0

      # Note: The last python to get setup becomes the default for future python calls
      - name: Setup Python 3.9
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Setup Python 3.11
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Setup Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        shell: bash
        run: |
          python --version
          python -m pip install --upgrade pip
          python -m pip install tox

      - name: Run Tox
        # Note: `--skip-missing-interpreters` prevents false success if python
        # version is not installed when testing.
        run: |
          which tox
          tox --skip-missing-interpreters false -e begin,${{ matrix.test_env }}

      - name: Upload coverage
        uses: actions/upload-artifact@v4
        with:
          name: coverage-${{ matrix.os }}-${{ matrix.test_env }}
          path: .coverage/*
          include-hidden-files: true
          retention-days: 1

  coverage:
    # We want to run on external PRs, but not on our own internal PRs as they'll
    # be run by the push to the branch. Without this if check, checks are
    # duplicated since internal PRs match both the push and pull_request events.
    if:
      github.event_name == 'push' ||
      github.event.pull_request.head.repo.full_name != github.repository

    needs: test

    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.x"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install tox coverage[toml]

      # Ensure version.py is created so coverage can read it's source
      - name: Run begin
        run: |
          tox -e begin

      - name: Download coverage artifacts
        uses: actions/download-artifact@v4
        with:
          path: .coverage/
          pattern: coverage-*
          merge-multiple: true

      # Tox runs `coverage combine` and `coverage xml`
      - name: Combine coverage and report
        run: |
          tox -e end

          # Report and write to summary.
          python -m coverage report --format=markdown >> $GITHUB_STEP_SUMMARY

          # Write html coverage report to upload as an artifact
          python -m coverage html

          # # Report again and fail if under 100%.
          # python -m coverage report --fail-under=100

      - name: Upload HTML report if check failed.
        uses: actions/upload-artifact@v4
        with:
          name: html-report
          path: htmlcov
          # # TODO: If we get 100% coverage we can re-enable this and the
          # # `--fail-under` check so pull requests fail if the dev doesn't
          # # add tests for new code.
          # if: ${{ failure() }}
